.carousel-item-active {
    position: relative;
  }
  
  .carousel-item-active:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Добавьте здесь свой стиль для затемнения */
    background-color: rgba(0, 0, 0, 0.66);
  }


